/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -100px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: black;
}

* {
  margin: 0px;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.header {
  background-image: url(../images/header_bg.png);
  width: 1500px;
  height: 1000px;
  display: flex;
  padding-left: 50px;
}

.logo {
  width: 127px;
  height: 52px;
  margin-top: 50px;
  margin-left: 165px;
}

.nav {
  margin-top: 57px;
  margin-left: 450px;
  margin-right: 160px;
  width: 557px;
  height: 12px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
}

.dropdown {
  display: none;
}

.a__tittle {
  margin-right: 20px;
  text-decoration: none;
  color: #262626;
}

.a__tittle:hover {
  color: #262626;
  border-top: #ff6033 solid 3px;
}

.header__content {
  margin-top: -650px;
  margin-left: 130px;
}

.header__content--h1 {
  width: 287px;
  height: 46px;
  font-family: Raleway;
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.42;
  letter-spacing: normal;
  text-align: left;
  color: #262626;
}

.header__content--p {
  width: 368px;
  height: 70px;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.59;
  letter-spacing: normal;
  text-align: left;
  color: #262626;
}

.header__button {
  width: 200px;
  height: 55px;
  margin: 31px 373px 295px 1px;
  padding-left: 40px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #ff6033;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.header__button:hover {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.aboutUs {
  height: 700px;
  background-color: #00c4c4;
  display: flex;
}

.aboutUs--content {
  margin-top: -650px;
  margin-left: 700px;
}

.aboutUs__img--img {
  width: 566px;
  height: 559px;
  margin-top: 70px;
  margin-left: 105px;
  margin-bottom: 70px;
}

.aboutUs--content__h1 {
  width: 394px;
  height: 67px;
  font-family: Raleway;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 150px;
  margin-left: 94px;
  margin-bottom: 34px;
  text-align: start;
}

.aboutUs--content__p {
  width: 499px;
  height: 188px;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  color: #ffffff;
  margin-left: 94px;
}

.services {
  height: 790px;
  padding: 100px 164px 151px 265px;
  background-color: #70bfff;
  text-align: center;
}

.services__conteiner {
  display: flex;
}

.services__button--container {
  display: inline-block;
  margin-left: 65px;
  margin-top: 39px;
  margin-right: 70px;
}

.services__button {
  width: 400px;
  height: 100px;
  display: flex;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.services__button__p {
  margin-top: 35px;
  justify-content: center;
  font-family: Raleway;
  font-size: 20px;
  font-weight: bold;
  color: #262626;
}

.delivery {
  margin-top: 20px;
}

.p__border {
  border-right: 3px solid #9d9d9d;
  width: 300px;
  height: 100px;
  margin-top: -1px;
}

.svg {
  margin-top: 20px;
  margin-left: 20px;
  width: 47px;
  height: 47px;
}

.services__img__text--block {
  margin-left: 132px;
}

.services__img--text {
  width: 539px;
  height: 67px;
  font-family: Raleway;
  font-size: 85px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
  margin-top: -350px;
  margin-left: -50px;
}

.Gallery__container {
  height: 1578px;
  background-color: #FFE92F;
  padding-top: 100px;
}

.Gallery__title {
  font-size: 90px;
  line-height: 27px;
  color: #262626;
  font-weight: 700;
  font-family: "Raleway";
  margin-left: 600px;
}

.Gallery__subtitle {
  width: 630px;
  height: 69px;
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  font-weight: 300;
  font-family: "Raleway";
  text-align: center;
  margin-top: 50px;
  margin-left: 465px;
}

.Gallery__photo__container {
  margin-top: 50px;
  margin-left: 165px;
  display: inline-block;
}

.top {
  display: flex;
}

.top--right {
  display: block;
}

.bottom {
  display: flex;
}

.Gallery__photo {
  margin: 10px;
  filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
}

.Gallery__photo__button {
  width: 200px;
  height: 55px;
  filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
  background-color: #5585a2;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Raleway";
  margin-top: 55px;
  margin-left: 650px;
  margin-bottom: 120px;
}

.Subscribe__container {
  background-image: url(../images/subscribe.png);
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 145px;
}

.Subscribe__container__title {
  font-size: 40px;
  line-height: 27px;
  color: #262626;
  font-weight: 700;
  font-family: "Raleway";
  margin-left: 167px;
}

.Subscribe__container__subtitle {
  width: 572px;
  height: 50px;
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  font-weight: 300;
  font-family: "Raleway";
  margin-top: 30px;
  margin-left: 167px;
}

.Subscribe__input {
  width: 571px;
  height: 56px;
  background-color: white;
  margin-top: 30px;
  margin-left: 167px;
  border: solid 1px #000;
}

.Subscribe__input::placeholder {
  width: 100px;
  color: #262626;
}

.Subscribe__input:focus {
  background-color: white;
  border: solid 1px #000;
}

.Subscribe__container__button {
  width: 170px;
  height: 55px;
  filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
  background-color: #96b92c;
  line-height: 27px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Raleway";
  margin-left: -150px;
}

.blog {
  padding: 100px 0 120px;
  background-color: #b07cf7;
}

.title {
  font-family: Raleway;
  font-size: 90px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  line-height: 1.47;
  font-size: 17px;
  margin-bottom: 47px;
  color: #fff;
  max-width: 574px;
  margin: 0 auto 47px;
  text-align: center;
}

.link {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.link img {
  width: 100%;
}

.link:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
  opacity: 0;
}

.link:hover:before {
  opacity: 1;
}

.link:hover .date {
  top: 30px;
  left: 30px;
}

.link:hover .content {
  bottom: 30px;
  left: 30px;
}

.content, .date {
  position: absolute;
  color: #fff;
  transition: all 0.5s;
}

.date {
  top: -60px;
  left: -60px;
  width: 70px;
  height: 60px;
  font-family: Raleway;
  font-size: 32px;
  font-weight: bold;
  line-height: 0.78;
  color: #ffffff;
  background-color: #262626;
  text-align: center;
  opacity: 0.5;
  border-radius: 5px;
}

.content {
  bottom: -100px;
  left: -60px;
}

.button--blog {
  width: 200px;
  height: 55px;
  padding: 15px 43px;
  background-color: #f72b3b;
  font-family: Raleway;
  font-weight: 300;
  color: #ffffff;
  margin-top: 50px;
  margin-left: 650px;
  margin-bottom: 120px;
  position: relative;
}

button:hover {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.Contact {
  width: 100%;
  height: 900px;
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
}

.form__content {
  padding-top: 100px;
}

.form__name {
  margin-left: 581px;
  margin-bottom: 46px;
}

.form__name--h1 {
  width: 337px;
  height: 65px;
  font-family: Raleway;
  font-size: 90px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.28;
  letter-spacing: normal;
  text-align: center;
  color: #262626;
  margin-bottom: 48px;
}

.form__name--p {
  width: 342px;
  height: 41px;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #262626;
}

.form__contact {
  font-family: Raleway;
  margin-left: 170px;
  text-align: left;
  color: #262626;
}

.form__contact--title {
  font-size: 20px;
  font-weight: bold;
}

.form__contact--subtitle {
  font-size: 17px;
  font-weight: 300;
}

.form__main__content {
  display: flex;
  width: 500px;
  height: 600px;
  margin-left: 165px;
  margin-bottom: 120px;
}

input {
  width: 500px;
  height: 50px;
  margin: 15px 170px 15px 0;
  padding: 20px 400px 19px 20px;
  opacity: 0.5;
  background-color: #00c4c4;
  border: none;
}

input::placeholder {
  width: 200px;
  height: 14px;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

input:focus {
  border-left: 5px solid #355b82;
  opacity: 1;
}

input:focus::placeholder {
  font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

.input4 {
  width: 500px;
  height: 250px;
}

footer {
  height: 90px;
  background-color: #262626;
  display: flex;
  padding-top: 32px;
  padding-bottom: 31px;
}

.footer__p {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #b9b9b9;
  margin-left: 164px;
  margin-right: 295px;
}

.footer__img {
  width: 64px;
  height: 27px;
  margin-right: 350px;
}

.footer__p--2 {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #b9b9b9;
  margin-right: 164px;
}

.footer__span {
  font-weight: bold;
  color: #ff2b58;
}

@media screen and (max-width: 1440px) {
  .header {
    width: 100%;
    padding: 0px;
  }

  .nav {
    width: 70%;
    margin-left: 30%;
  }

  .Contact {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header__content {
    margin-left: 0px;
  }

  .nav {
    display: none;
  }

  .dropdown {
    display: block;
    margin-top: 50px;
    margin-left: 300px;
  }

  .aboutUs {
    background-image: url(../images/img.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
  }

  .aboutUs--content {
    margin: 0px;
  }

  .aboutUs--content__h1, .aboutUs--content__p {
    color: black;
  }

  .aboutUs__img--img {
    display: none;
  }

  .services {
    background-image: url(../images/tomato.png);
    background-size: 90%;
    background-repeat: no-repeat;
  }

  .services__img__text--block {
    display: none;
  }

  .services__conteiner {
    margin-left: -130px;
  }

  .Gallery__container {
    width: 100%;
    height: -webkit-max-content;
    height: max-content;
    padding: 1px;
    display: block;
  }

  .gallery__name {
    margin-top: 30px;
    margin-left: -350px;
  }

  .Gallery__photo {
    width: 90%;
    height: 90%;
    margin-left: 40px;
  }

  .Gallery__photo__container {
    display: inline;
  }

  .top {
    display: inline;
  }

  .bottom {
    display: inline;
  }

  .Gallery__photo__button {
    margin: 0px;
    margin-top: 30px;
    margin-left: 300px;
    margin-bottom: 30px;
  }

  .Subscribe__container {
    background-size: 100%;
    margin-top: 50px;
    margin-left: -100px;
  }

  .Subscribe__input {
    margin-right: 0px;
  }

  .Subscribe__container__button {
    margin-left: 400px;
  }

  .link {
    margin: 0px;
    overflow: visible;
    font-size: 0.5px;
    text-decoration: none;
  }

  .link:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
    opacity: 0;
  }

  .content, .date {
    color: #fff;
  }

  .content {
    position: relative;
    margin-top: -100px;
    margin-left: -60px;
    color: #0000FF;
    font-size: 10px;
    font-weight: bold;
  }

  .date {
    margin-top: 65px;
    margin-left: 65px;
  }

  .button--blog {
    margin: 0px;
    margin-top: 30px;
    margin-left: 285px;
  }

  .form__content {
    height: -webkit-max-content;
    height: max-content;
    margin: 0px;
    padding: 1px;
    padding-left: 150px;
  }

  .form__name {
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    margin-left: 60px;
  }

  .form__main__content {
    margin-left: 150px;
    display: inline;
  }

  .form__contact {
    display: inline;
    margin-left: 100px;
  }

  .form__contact__line {
    display: flex;
  }

  .input1, .input2, .input3, .input4 {
    margin-right: 0px;
  }

  footer {
    padding: 1px;
    padding-top: 30px;
    padding-left: 60px;
  }

  .footer__p {
    display: flex;
    margin: 0px;
    margin-left: 30px;
  }

  .footer__img {
    margin: 0px;
    margin-left: 30px;
  }

  .footer__p--2 {
    margin: 0px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 375px) {
  body {
    width: 100%;
  }

  .dropdown {
    margin: 0px;
  }

  .header__content--p {
    width: 90%;
  }

  .header__button {
    margin-right: 0px;
  }

  .aboutUs--content__h1 {
    width: auto;
    font-size: 40px;
  }

  .aboutUs--content__p {
    width: 80%;
    font-size: 15px;
    margin-left: 30px;
    color: purple;
  }

  .services {
    width: 100%;
    padding: 0px;
    padding-left: 263px;
  }

  .services__backgroundimg {
    width: 375px;
  }

  .services__img__text--block {
    width: 375px;
  }

  .services__button--container {
    margin-left: -120px;
    margin-right: 0px;
  }

  .services__button {
    width: 350px;
  }

  .gallery__name {
    width: 375px;
    position: inherit;
    margin: 0px;
    margin-top: 30px;
    margin-left: -450px;
    margin-bottom: 70px;
  }

  .Gallery__title {
    font-size: 30px;
  }

  .Gallery__subtitle {
    width: 90%;
  }

  .Gallery__photo {
    margin-left: 20px;
  }

  .Gallery__photo__button {
    margin-left: 100px;
  }

  .Subscribe__container {
    margin-left: 10px;
  }

  .Subscribe__container__title {
    margin-left: 0px;
  }

  .Subscribe__container__subtitle {
    width: 90%;
    margin-left: 0px;
    margin-bottom: 30xp;
  }

  .Subscribe__input {
    width: 355px;
    margin-top: 50px;
    margin-left: 0px;
    padding: 1px;
  }

  .Subscribe__container__button {
    margin-left: 90px;
  }

  .content {
    position: unset;
    margin-top: 100px;
    margin-left: -100px;
  }

  .button--blog {
    margin-top: 100px;
    margin-left: 80px;
  }

  .Contact {
    padding: 1px;
  }

  .form__content {
    padding: 1px;
  }

  .form__name {
    margin-left: 10px;
  }

  .form__name--h1 {
    font-size: 30px;
  }

  .form__name--p {
    font-size: 20px;
  }

  .input1, .input2, .input3, .input4 {
    width: 350px;
    margin-left: 10px;
    padding: 1px;
  }

  footer {
    padding-left: 1px;
  }

  .footer__p {
    font-size: 10px;
    margin-left: 10px;
  }

  .footer__img {
    margin-left: 5px;
  }

  .footer__p--2 {
    font-size: 10px;
  }
}